:host {
  position: absolute;
  display: block;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}

.content {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
